<a href="{{path('page_article', {slug: post.slug}) }}">
    <h2>{{ post.title }}</h2>
</a>
<span style="color: #999;">
    <i class="fa fa-calendar"></i> {{post.createdAt|date("d/m/Y H:i")}}&nbsp;&nbsp;&nbsp;
    <i class="fa fa-user"></i>
    {% if post.author %}
        {{ post.author.username }}
    {% else %}
        Anonymous
    {% endif %}&nbsp;&nbsp;&nbsp;
    <i class="fa fa-folder"></i>
    {{post.category.name}}
</span>