{% extends '::base.html.twig' %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block body %}
    <article id="article_wrapper">
        <section>
            {{ include('Partials/headArticle.html.twig', { 'post': post }) }}
            <br /><br />
            <div class="articleContent">
                <img src="{{ '/' ~ post.getWebPath() }}"/>
                {{post.body|raw}}
            </div>
        <section>
        <section>
            <h3>{% trans %}titre.comments{% endtrans %} :</h3>


            {% if post.activeComment %}
                <div id="comments">
                    <div id="commentForm" class="form-group">
                        {{form_start(commentForm)}}
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                {{form_widget(commentForm.name, { 'attr': { 'value': app.user.username } })}}
                            {% else %}
                                {{form_widget(commentForm.name)}}
                            {% endif %}
                            {{form_widget(commentForm.text)}}

                            {{form_errors(commentForm)}}
                        {{form_end(commentForm)}}
                    </div>
                    {% if post.comments|length > 0 %}
                        {% for comment in post.comments %}
                            <div class="comment">
                                <div class="details">
                                    <span class="author">{{comment.name}}</span> <span class="date">{{ comment.createdAt|date("D j F Y H:i:s") }}</span>
                                </div>
                                <p>{{comment.text}}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="bg_warning">{% trans %}nocomment.message{% endtrans %}</p>
                    {% endif %}
                </div>
            {% else %}
                <p class="bg-warning">{% trans %}comment.activeOrNot{% endtrans %}</p>
            {% endif %}
        </section>

    </article>

{% endblock %}
