{% extends '::base.html.twig' %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block body %}
    <article>
        <section>
            <h2>{{post.title}}</h2>
            <div class="details">
                <span class="date">{{post.createdAt|date("d-M-y")}}</span> - Posted in <span class="category">{{category.name}}</span>
            </div>
            <div class="articleContent">
                {{post.body}}
            </div>
            <p><a href="{{path('blog_index')}}">Retour</a></p>
        <section>
        <section>
            <h3>Comments :</h3>
            <div id="comments">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="details">{{ comment.createdAt|date("d-M-y") }}</div>
                            <p>{{comment.text}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comment in this post</p>
                {% endif %}
            </div>
        </section>
       
    </article>
    
{% endblock %}
