{% extends '::base.html.twig' %}

{% block title %}
    Mon Blog
{% endblock %}

{% block body %}
    <div id="listPosts" class="form-group">
        {% for post in posts %}
            <article>

                <a href="{{path('page_article', {slug: post.slug}) }}">
                    <h2>{{ post.title }}</h2>
                </a>
                <span style="color: #999;">
                    <i class="fa fa-calendar" style="color: black;"></i> {{post.createdAt|date("d/m/Y H:i")}}&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-user" style="color: black;"></i>
                    {% if post.author %}
                        {{ post.author.username }}
                    {% else %}
                        Anonymous
                    {% endif %}&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-folder" style="color: black;"></i>
                    {{post.category.name}}
                </span>
            </article>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
