{% extends '::base.html.twig' %}

{% block title %}
	Proposer un article
{% endblock %}

{% block body %}
	{% for message in app.session.flashbag.get('success') %}
		<p class="success" style="background-color: #afa">{{ message }} </p>
	{% endfor %}

    <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    </form>

{% endblock %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}
 
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/tinymce2/jscripts/tiny_mce/tiny_mce.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}