{% extends '::base.html.twig' %}

{% block title %}
	{% trans %}ajout.article{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}ajout.article{% endtrans %} :</h1>
	{% for message in app.session.flashbag.get('success') %}
		<p class="success" style="background-color: #afa">{{ message }} </p>
	{% endfor %}

	{{ form_start(form) }}

	{{ form_widget(form) }}


	{{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/tinymce2/jscripts/tiny_mce/tiny_mce.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}
